
<div class="container">
    <div class="row">
        <h1>Angular Lifecycle Hooks</h1>
    </div>
    
    <div class="row">
        
        <div class="col-lg-8">
            <h3>Lifecycle Hooks in order</h3>
            <img src="https://codecraft.tv/courses/angular/components/lifecycle-hooks/images/lifecycle-hooks.png" width="350px" alt="hooks">
        </div>

        <div class="col-lg-4">
            <ul>
                <li>ngOnChanges</li>
                <li>ngOnInit</li>
                <li>ngDoCheck</li>
                <li>ngAfterContentInit</li>
                <li>ngAfterContentChecked</li>
                <li>ngAfterViewInit</li>
                <li>ngAfterViewInitChecked</li>
                <li>ngOnDestroy</li>
            </ul>
            <p>open console to see results which lifecycle hooks has been called first</p>
            <p>The hooks in green phase are for child components</p>
        </div>
    </div>
</div>