<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li><a href="/lifecycle-hooks">Angular LifeCycle Hooks</a></li>
                <li><a href="/data-binding">Data and Property Binding</a></li>
                <li><a href="/event-binding">Event Binding</a></li>
                <li><a href="/attribute-directives">Attribute Directives - ngModel,ngClass,ngStyle</a></li>
                <li><a href="/structural-directives">Structural Directives - ngFor,ngIf,ngSwitch</a></li>
                <!-- <li><a href="/event-binding">Event Binding</a></li>
                <li><a href="/event-binding">Event Binding</a></li> -->
            
            </ul>
        </div>
    </div>
</div>